[submodule "Assets/PerfAssist/PA_Common"]
	path = Assets/PerfAssist/PA_Common
	url = https://github.com/PerfAssist/PA_Common.git
[submodule "Assets/PerfAssist/PA_TableView"]
	path = Assets/PerfAssist/PA_TableView
	url = https://github.com/PerfAssist/PA_TableView.git
